@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.attribution {
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #00a1ac;
  font-family: "Kumbh Sans", sans-serif;
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
}

.pattern-top {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(images/bg-pattern-top.svg);
  background-position: top -20rem left -20rem;
}

.card {
  display: flex;
  flex-flow: column;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 45rem;
  font-size: 18px;
  margin: 0.5rem;
  width: 22rem;
  height: 25rem;
}

.card__pattern {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 13rem;
  background-image: url(images/bg-pattern-card.svg);
}

.card__image {
  height: 5rem;
}
.card__image img {
  position: relative;
  top: -3rem;
  border: 0.35rem solid white;
  border-radius: 50%;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(229, 23%, 23%);
}
.card__info-name {
  font-weight: 700;
}

.card__info-type {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.card__location {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  height: 4rem;
  font-size: 14px;
  color: hsl(227, 10%, 46%);
}

hr {
  position: relative;
  color: ;
  border: none;
  border-top: 1px solid hsl(0, 0%, 59%);
}

.card__social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  color: hsl(229, 23%, 23%);
}

.card__social-followers {
  display: flex;
  flex-flow: column;
}

.card__social-followers--text {
  font-size: 10px;
  color: hsl(227, 10%, 46%);
  margin-top: 0.3rem;
}

.card__social-likes {
  display: flex;
  flex-flow: column;
}

.card__social-likes--text {
  font-size: 10px;
  color: hsl(227, 10%, 46%);
  margin-top: 0.3rem;
}

.card__social-photos {
  display: flex;
  flex-flow: column;
}

.card__social-photos--text {
  font-size: 10px;
  color: hsl(227, 10%, 46%);
  margin-top: 0.3rem;
}
